body {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
  background: #FFF8E7;　/* Cosmic latte */
  color: #222;
  margin: 40px;
  line-height: 1.6;
}

.header-menu{
  background: #FFF;
  /* padding-bottom: 20px; */
  /* padding-top: 20px; */
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position:         sticky;
  top: 0;
}

.header-menu ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  /* gap: 20px; /* リスト項目間に余白を設定 */
}

.header-menu ul li {
  margin-right: 20px; /* 項目ごとの余白 */ 
}

.top{
    max-height: 500px;
    overflow: hidden;
}
.top img{
    height: auto;
    width: 100%;
}

.site-footer{
    background: #FFF;
    padding: 80px 0;
}

.copyright{
    color: #FFF;
    font-size: 12px;
    text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* カード型共通スタイル */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.card .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.card .date, .card .role {
  font-size: 0.9em;
  color: #666;
  margin-right: 10px;
}

.card .description {
  margin-top: 0.5em;
  white-space: pre-wrap;
}

.card a {
  color: #0077cc;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
