---
---
<header class="header-menu">
    <h1>Sceno Ichiro</h1>
    <nav>
        <ul class="header-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/works/">Works</a></li>
          <li><a href="/profile/">Profile</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="https://160clx.booth.pm/" target="_blank" rel="noopener noreferrer">Online Shop</a></li>
        </ul>
    </nav>
</header>
